@model Gemstar.BSPMS.Hotel.Web.Areas.PosManage.Models.BasicDataPosActionMultisub.PosActionMultisubAddViewModel
@using (Html.BeginForm())
{
    <table class="editFormTable">
        <tr>
            <td class="textright">@Html.LabelFor(m => m.Actionid)</td>
            <td>@(Html.Kendo().DropDownListFor(e => e.Actionid).HtmlAttributes(new { style = "width:150px" }).DataTextField("Text").DataValueField("Value").Filter("contains").DataSource(e => { e.Read(r => r.Action("ListItemsForPosActionTypeByModules", "BasicDataPosAction", new { rnd = new Random().NextDouble() })); }))</td>
            <td>@Html.ValidationMessageFor(m => m.Actionid, "*")</td>
            <td class="textright">@Html.LabelFor(m => m.Actionid2)</td>
            <td>@(Html.Kendo().DropDownListFor(e => e.Actionid2).HtmlAttributes(new { style = "width:150px" }).DataTextField("Text").DataValueField("Value").Filter("contains").DataSource(e => { e.Read(r => r.Action("ListItemsForPosActionTypeByModules", "BasicDataPosAction", new { rnd = new Random().NextDouble() })); }))</td>
            <td>@Html.ValidationMessageFor(m => m.Actionid2, "*")</td>
        </tr>
        <tr>
            <td class="textright">@Html.LabelFor(m => m.Remark)</td>
            <td>@Html.Kendo().TextBoxFor(m => m.Remark).HtmlAttributes(new { style = "width:100%;", placeholder = "请输入备注" })</td>
            <td>@Html.ValidationMessageFor(m => m.Remark, "*")</td>
        </tr>
    </table>
    @Html.ValidationSummary()
    <div class="formButtons">
        <button class="k-primary k-button" id="saveEditFormButton" role="button" data-role="button">确定</button>&nbsp;&nbsp;
        <button class="k-primary k-button" id="closeEditFormButton" role="button" data-role="button">返回</button>
    </div>
}
<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse(document);
        $("#saveEditFormButton").click(function (e) {
            e.preventDefault();
            saveFormData($("#saveEditFormButton"));
        });
        $("#closeEditFormButton").click(function (e) {
            e.preventDefault();
            closeEditFormWindow();
        });
    });
</script>