@model Gemstar.BSPMS.Hotel.Web.Areas.PosManage.Models.PosReserve.EditReserveModel
@using Gemstar.BSPMS.Common.Extensions;


<input type="hidden" value="@Model.BillId" id="billId" />
<table class="editFormTable">
    <tr style="height:40px">
        <td class="textright">餐台号：</td>
        <td>@Html.Kendo().TextBox().Name("TabNo").HtmlAttributes(new { style = "width:100%;" , @readonly = "readonly" }).Value(Model.TabNo)</td>
    </tr>

    <tr style="height:40px">
        <td class="textright">外部订单号：</td>
        <td>@Html.Kendo().TextBox().Name("ExternalOrder").HtmlAttributes(new { style = "width:100%;" }).Value(Model.ExternalOrder)</td>

        <td class="textright">客人姓名：</td>
        <td> @Html.Kendo().TextBox().Name("Name").HtmlAttributes(new { style = "width:100%;" }).Value(Model.Name)</td>

        <td class="textright">团队名称：</td>
        <td> @Html.Kendo().TextBox().Name("TeamName").HtmlAttributes(new { style = "width:100%;" }).Value(Model.TeamName)</td>

        <td class="textright">手机号：</td>
        <td> @Html.Kendo().TextBox().Name("MobilePhone").HtmlAttributes(new { style = "width:100%;" }).Value(Model.MobilePhone)</td>
    </tr>
    <tr style="height:40px">
        <td class="textright">会员：</td>

        <td>
            <script>
                function onAdditionalData() {
                    return { nameOrMobile: $("#profileComboBox").data("kendoComboBox").text() };
                }
            </script>
            @(Html.Kendo().ComboBox()
                                    .Name("profileComboBox")
                                    .Placeholder("卡号/姓名/手机号")
                                    .DataTextField("MbrCardNo")
                                    .DataValueField("Id")
                                    .Template("<label title='#= MbrCardNo # | #= GuestName # | #= Mobile == null ? '' : Mobile #'>#= MbrCardNo # | #= GuestName # </label>").Filter("contains")
                                    .MinLength(2)
                                    .DataSource(e => { e.Read(r => r.Url(Url.Action("ListItemsForProfiles", new { rnd = new Random().NextDouble() })).Data("onAdditionalData")).ServerFiltering(true); })
                                    .Events(e => e.Change("editControl_changed").Select("profileComboBox_selected").DataBound("profileComboBox_databound")).AutoBind(false)
                                    .Value(Model.ProfileNo))
        </td>
        <td class="textright">合约单位：</td>
        <td>
            <script>function onAdditionalDataCttid() { return { text: $("#Cttid").data("kendoComboBox").text(), isNullOrWhiteSpace: false }; }</script>
            @(Html.Kendo().ComboBox()
                                    .Name("Cttid")
                                    .Placeholder("代码/名称(关键字)")
                                    .DataTextField("Key")
                                    .DataValueField("Value")
                                    .Template("<span style='width: 100%;white-space:nowrap;display:block;overflow:hidden;text-overflow:ellipsis;'>#:Data# | #:Key#</span>")
                                    .Filter(FilterType.Contains)
                                    .MinLength(2)
                                    .DataSource(e => { e.Read(r => r.Url(Url.Action("ResListItemsForCompanys", new { rnd = new Random().NextDouble() })).Data("onAdditionalDataCttid")).ServerFiltering(true); })
                                    .Events(e => e.Change("editControl_main_changed").Select("cttid_selected")).AutoBind(false)
                                    .Value(Model.CttName))
        </td>
        <td class="textright">人数：</td>
        <td> @Html.Kendo().IntegerTextBox().Name("IGuest").HtmlAttributes(new { style = "width:100%;" }).Value(Model.IGuest)</td>
        <td class="textright">营业经理：</td>
        <td>@Html.Kendo().DropDownList().Name("Sale").HtmlAttributes(new { style = " width:100%" }).DataTextField("Text").DataValueField("Text").DataSource(e => { e.Read(r => r.Action("ListSaleUser", "PosReserve", new { rnd = new Random().NextDouble() })).ServerFiltering(true); }).OptionLabel("请选择营业经理").Value(Model.Sale)</td>
    </tr>
    <tr style="height:40px">
        <td class="textright">预抵日期：</td>
        <td>
            @(Html.Kendo().DateTimePicker()
                                    .Name("orderDate")
                                    .Value(Model.OrderDate)
                                    .Format(DateTimeExtension.DateTimeWithoutSecondFormatStr)
                                    .Events(e => e.Change("orderDate_changed"))
                                    .Min(DateTime.Now)
                                    .HtmlAttributes(new { onclick = "openKendoDatetimePicker(this)", style = "width:190px;" })
            )
        </td>
        <td class="textright">市别：</td>
        <td>
            @(Html.Kendo().DropDownList()
                                    .Name("Shuffle")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .DataSource(s => { s.Read(r => r.Url(Url.Action("ListItemsForShuffle", new { rnd = new Random().NextDouble(), refeId = ViewBag.RefeId }))); })
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Value(Model.Shuffle)
                                    .Events(w => w.Change("Shuffle_changed"))
            )
        </td>
        <td class="textright">客人类型：</td>
        <td>
            @(Html.Kendo().DropDownList()
                                    .Name("GuestType")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .DataSource(s => { s.Read(r => r.Url(Url.Action("ListItemsForCustomerType", new { rnd = new Random().NextDouble() }))); })
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Value(Model.GuestType)
            )
        </td>
        <td class="textright">预定方式：</td>
        <td> @Html.Kendo().TextBox().Name("ReservationMode").HtmlAttributes(new { style = "width:100%;" }).Value(Model.ReservationMode)</td>

    </tr>
    <tr style="height:40px">
        <td class="textright">结束日期：</td>
        <td>
            @(Html.Kendo().DatePicker()
                                    .Name("EndeDate")
                                    .Value(Model.EndeDate)
                                    .Format(DateTimeExtension.DateFormatStr)
                                    //.Events(e => e.Change("editControl_changed"))
                                    .Min(DateTime.Now)
                                    .HtmlAttributes(new { onclick = "openKendoDatePicker(this)", style = "width:190px;" }))
        </td>
        <td class="textright">定金：</td>
        <td>
            @(Html.Kendo().NumericTextBox().Name("EarnestMoney").HtmlAttributes(new { style = "width:100%;" }).Value(Convert.ToDouble(Model.EarnestMoney)))
        </td>
        <td class="textright">公司名称：</td>
        <td>
            @(Html.Kendo().TextBox().Name("Company").HtmlAttributes(new { style = "width:100%;" }).Value(Model.Company))
        </td>
        <td class="textright">预定时长：</td>
        <td class="textright">
            @(Html.Kendo().NumericTextBox().Name("ReservedTime").HtmlAttributes(new { style = "width:100%;" }).Value(Convert.ToDouble(Model.ReservedTime)))
        </td>
    </tr>
    <tr style="height:40px">
        <td class="textright">会议返佣金额：</td>
        <td> @Html.Kendo().NumericTextBox().Name("HYFYAmount").HtmlAttributes(new { style = "width:100%;" }).Value(Convert.ToDouble(Model.HYFYAmount))</td>
        <td class="textright">餐饮返佣金额：</td>
        <td> @Html.Kendo().NumericTextBox().Name("CYFYAmount").HtmlAttributes(new { style = "width:100%;" }).Value(Convert.ToDouble(Model.CYFYAmount))</td>
    </tr>
    <tr style="height:40px">
        <td class="textright">备注：</td>
        <td colspan="7">@(Html.Kendo().TextBox().Name("Remark").HtmlAttributes(new { style = "width:100%;" }).Value(Model.Remark))</td>
    </tr>
    @*<tr>
        <td colspan="4" style="text-align:center">@Html.Kendo().Button().Name("update").Content("保存").Events(e => e.Click("update_billOrder"))</td>
        <td colspan="4" style="text-align:center">@Html.Kendo().Button().Name("cancel").Content("取消").Events(e => e.Click("cancel_clicked"))</td>
    </tr>*@
</table>
<div class="formButtons">
    <input type="button" value="保存" class="k-primary k-button" onclick="update_billOrder()" id="update" />
    <input type="button" value="取消" class="k-primary k-button" onclick="cancel_clicked()" id="cancel"/>
    @*<button class="k-primary k-button" id="saveEditFormButtonForAjax" role="button" data-role="button">确定</button>
        <button class="k-primary k-button" id="closeEditFormButtonA" role="button" data-role="button">关闭</button>*@
</div>

<script>
    var CustomerCommonValues = {
        selectedTabs: {},
        tabTypeId: "@ViewBag.tabTypeId",
        Business: $("#Business").val()
    }
</script>


