@model Gemstar.BSPMS.Hotel.Web.Areas.SystemManage.Models.ItemManage.ItemAddViewModel
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.DcFlag)

    <table class="editFormTable">
        <tr>
            <td class="textright">付款类型</td>
            <td>
                @Html.Kendo().DropDownListFor(e => e.ItemTypeid).HtmlAttributes(new { style = " width:100%" }).DataTextField("Text").DataValueField("Value").DataSource(e => { e.Read(r => r.Action("listItemForPayway", "PayWayManage")); })
            </td>
            <td>@Html.ValidationMessageFor(m => m.ItemTypeid, "*")</td>

            <td class="textright">@Html.LabelFor(m => m.Code)</td>
            <td>@Html.TextBoxFor(m => m.Code, new { @class = "k-textbox", style = "width:100%;" })</td>
            <td>@Html.ValidationMessageFor(m => m.Code, "*")</td>
        </tr>
        <tr>
            <td class="textright">@Html.LabelFor(m => m.Name)</td>
            <td>@Html.TextBoxFor(m => m.Name, new { @class = "k-textbox", style = "width:100%;" })</td>
            <td>@Html.ValidationMessageFor(m => m.Name, "*")</td>

            <td class="textright">@Html.LabelFor(m => m.IsInput)</td>
            <td>
                @Html.Kendo().DropDownListFor(e => e.IsInput).HtmlAttributes(new { style = " width:100%" }).DataTextField("Text").DataValueField("Value").DataSource(e => { e.Read(r => r.Action("GetIsSelectList", "PayWayManage")); })
            </td>
            <td>@Html.ValidationMessageFor(m => m.IsInput, "*")</td>
        </tr>
        <tr>

            <td class="textright">@Html.LabelFor(m => m.Action)</td>
            <td>
                @Html.Kendo().DropDownListFor(e => e.Action).HtmlAttributes(new { style = " width:100%" }).DataTextField("Text").DataValueField("Value").DataSource(e => { e.Read(r => r.Action("GetActionList", "PayWayManage")); })
            </td>
            <td>@Html.ValidationMessageFor(m => m.Action, "*")</td>

            <td class="textright">@Html.LabelFor(m => m.IsCharge)</td>
            <td>
                @Html.Kendo().DropDownListFor(e => e.IsCharge).HtmlAttributes(new { style = " width:100%" }).DataTextField("Text").DataValueField("Value").DataSource(e => { e.Read(r => r.Action("GetIsSelectList", "PayWayManage")); })
            </td>
            <td>@Html.ValidationMessageFor(m => m.IsCharge, "*")</td>
        </tr>
        <tr>
            <td class="textright">@Html.LabelFor(m => m.IsRetun)</td>
            <td>
                @Html.Kendo().DropDownListFor(e => e.IsRetun).HtmlAttributes(new { style = " width:100%" }).DataTextField("Text").DataValueField("Value").DataSource(e => { e.Read(r => r.Action("GetIsSelectList", "PayWayManage")); })
            </td>
            <td>@Html.ValidationMessageFor(m => m.IsRetun, "*")</td>

            <td class="textright">@Html.LabelFor(m => m.Notscore)</td>
            <td>
                @Html.Kendo().DropDownListFor(e => e.Notscore).HtmlAttributes(new { style = " width:100%" }).DataTextField("Text").DataValueField("Value").DataSource(e => { e.Read(r => r.Action("GetIsSelectList", "PayWayManage")); })
            </td>
            <td>@Html.ValidationMessageFor(m => m.Notscore, "*")</td>
        </tr>
        <tr>
            <td class="textright">@Html.LabelFor(m => m.Rate)</td>
            <td>@Html.TextBoxFor(m => m.Rate, new { @class = "k-textbox", style = "width:100%;" })</td>
            <td>@Html.ValidationMessageFor(m => m.Rate, "*")</td>

            <td class="textright">@Html.LabelFor(m => m.Seqid)</td>
            <td>@Html.TextBoxFor(m => m.Seqid, new { @class = "k-textbox", style = "width:100%;" })</td>
            <td>@Html.ValidationMessageFor(m => m.Seqid, "*")</td>
        </tr>
    </table>
    @Html.ValidationSummary()
    <div class="formButtons">
        <button class="k-primary k-button" id="saveEditFormButton" role="button" data-role="button">保存</button>&nbsp;&nbsp;
        <button class="k-primary k-button" id="closeEditFormButton" role="button" data-role="button">返回</button>
    </div>
}
<script type="text/javascript">
    $(function () {
        $(".k-input").css("text-indent", "1em");
        $.validator.unobtrusive.parse(document);
        $("#saveEditFormButton").click(function (e) {
            e.preventDefault();
            saveFormData($("#saveEditFormButton"));
        });
        $("#closeEditFormButton").click(function (e) {
            e.preventDefault();
            closeEditFormWindow();
        });

    });

</script>
